<!DOCTYPE html>
<html lang="RU">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Multiplication Table</title>
</head>
<body>
	<div class="wrapper" id="app">
		<input type="text" v-model="number">
		<p v-for="(count, i) in 10">{{number}} * {{i}} = {{number*i}}</p>
	</div>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				number: 0
			}
		})
	</script>
</body>
</html>